

/* SmartMenus Core CSS (it's not recommended editing this)
===============================================================*/

.sm,.sm ul,.sm li{display:block;list-style:none;padding:0;margin:0;line-height:normal;direction:ltr;}
ul.sm ul{position:absolute;top:-999999px;width:100px;}
ul.sm li{position:relative;float:left;}
ul.sm a{position:relative;display:block;white-space:nowrap;}
ul.sm a.disabled{cursor:default;}
.sm-rtl,.sm-rtl ul,.sm-rtl li{direction:rtl;}
ul.sm-rtl li{float:right;}
ul.sm ul li,ul.sm-vertical li{float:none;}
ul.sm ul a,ul.sm-vertical a{white-space:normal;}
ul.sm ul.sm-nowrap>li>a{white-space:nowrap;} 
ul.sm:after{content:"\00a0";display:block;height:0;font:0/0 serif;clear:both;visibility:hidden;overflow:hidden;}
ul.sm,ul.sm *,ul.sm *:before,ul.sm *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
ul.sm{-webkit-tap-highlight-color:rgba(0,0,0,0);}

/*---------------------------------------------------------------
  Note that styles you apply to the main menu items are inherited by the sub menus items too.
  If you'd like to avoid this, you could use child selectors (not supported by IE6) - for example:
  .sm-clean > li > a { ... } instead of .sm-clean a { ... }
---------------------------------------------------------------*/



@media screen and (max-width: 979px) { 
 .mega-menu{ width:100% !important; overflow:hidden}
 }
 .mega-menu{ width:500px; max-width:100%; padding:10px 5px 15px 5px;}

/* Menu box
===================*/
    .sm-clean{ 
		background:none;
		/*-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		box-shadow:0 1px 1px rgba(0,0,0,0.2);*/
	}
	.sm-clean ul { 
		background:#fff;
		-moz-box-shadow:0 3px 6px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.2);
		box-shadow:0 3px 6px rgba(0,0,0,0.2);
	}
 
	.sm-clean-vertical {
		padding:10px 0;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}  
	


/* Menu items
===================*/
    .sm-clean ul li a { color:#fff; font-weight:normal !important; font-size:14px; 
	} 
	.sm-clean a { padding:15px 13px; color:#6f1a07; font-size:16px; text-decoration:none; 
	              font-weight:600; text-transform:uppercase
	}
 
	.sm-clean a:hover, .sm-clean a:focus, .sm-clean a.active,
	.sm-clean a.highlighted {
		color:#fff;
	}
	.sm-clean-vertical a:hover, .sm-clean-vertical a:focus, .sm-clean-vertical a:active,
	.sm-clean-vertical a.highlighted {
		background:#fff;
	}
	.sm-clean a.has-submenu {
		padding-right:25px;
	}
	.sm-clean-vertical a,
 	.sm-clean ul a { background-color:#921b10; border-bottom:1px solid #c73030;   padding:10px 20px; 
	}
	.sm-clean-vertical a.has-submenu,
 	.sm-clean ul a.has-submenu { padding-right:40px;
	}
	.sm-clean ul a { font-size:15px;
	}
	.sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active,
	.sm-clean ul a.highlighted {
		color:#fff; background-color: #c73030; 
	}
	/* current items - add the class manually to some item or check the "markCurrentItem" script option */
	.sm-clean a.current, .sm-clean a.current:hover, .sm-clean a.current:focus, .sm-clean a.current:active {
		color:#AF00E8;
	}


/* Sub menu indicators
===================*/

	.sm-clean a span.sub-arrow {
		position:absolute;
		right:12px;
		top:50%;
		margin-top:-3px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:4px; /* tweak size of the arrow */
		border-style:solid dashed dashed dashed;
		border-color:#000 transparent transparent transparent;
	}
	.sm-clean-vertical a span.sub-arrow,
 	.sm-clean ul a span.sub-arrow {
		right:15px;	top:50%;
		margin-top:-5px; border-width:5px;
		border-style:dashed dashed dashed solid;
		border-color:transparent transparent transparent #fff;
	}


/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/

	.sm-clean span.scroll-up, .sm-clean span.scroll-down {
		position:absolute;
		display:none;
		visibility:hidden;
		overflow:hidden;
		background:#fff;
		height:20px;
		/* width and position will be automatically set by the script */
	}
	.sm-clean span.scroll-up:hover, .sm-clean span.scroll-down:hover {
		background:#eee;
	}
	.sm-clean span.scroll-up-arrow, .sm-clean span.scroll-down-arrow {
		position:absolute;
		top:0;
		left:50%;
		margin-left:-6px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:6px; /* tweak size of the arrow */
		border-style:dashed dashed solid dashed;
		border-color:transparent transparent #555 transparent;
	}
	.sm-clean span.scroll-up:hover span.scroll-up-arrow {
		border-color:transparent transparent #D23600 transparent;
	}
	.sm-clean span.scroll-down-arrow {
		top:8px;
		border-style:solid dashed dashed dashed;
		border-color:#555 transparent transparent transparent;
	}
	.sm-clean span.scroll-down:hover span.scroll-down-arrow {
		border-color:#D23600 transparent transparent transparent;
	}


/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/


/* decrease horizontal main menu items left/right padding to avoid wrapping */
@media screen and (max-width: 850px) {
	.sm-clean:not(.sm-clean-vertical) > li > a {
		padding-left:8px;
		padding-right:8px;
	}
	.sm-clean:not(.sm-clean-vertical) > li > a.has-submenu {
		padding-right:25px;
	}
}
@media screen and (max-width: 750px) {
	.sm-clean:not(.sm-clean-vertical) > li > a {
		padding-left:3px;
		padding-right:3px;
	}
	.sm-clean:not(.sm-clean-vertical) > li > a.has-submenu {
		padding-right:25px;
	}
}


@media screen and (max-width: 979px) {

	/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
	ul.sm-clean{width:50% !important;}
	ul.sm-clean ul{display:none;position:static !important;top:auto !important;left:auto !important;margin-left:0 !important;margin-top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;}
	ul.sm-clean>li{float:none;}
	ul.sm-clean>li>a,ul.sm-clean ul.sm-nowrap>li>a{white-space:normal;}
	ul.sm-clean iframe{display:none;}

	/* Uncomment this rule to disable completely the sub menus for small screen devices */
	/*.sm-clean ul, .sm-clean span.sub-arrow, .sm-clean iframe {
		display:none !important;
	}*/


/* Menu box
===================*/

	.sm-clean {
		padding:0;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	.sm-clean ul {
		border:0;
		padding:0;
		/* darken the background of the sub menus */
		background:rgba(130,130,130,0.1);
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	/* no carets */
	.sm-clean > li > ul:before, .sm-clean > li > ul:after {
		display:none;
	}


/* Menu items
===================*/

	.sm-clean a {
		padding:13px 5px 13px 28px !important;
		color:#555 !important;
		background:transparent !important;
	}
	.sm-clean a.current {
		color:#D23600 !important;
	}
	/* add some text indentation for the 2+ level sub menu items */
	.sm-clean ul a {
		border-left:8px solid transparent;
	}
	.sm-clean ul ul a {
		border-left:16px solid transparent;
	}
	.sm-clean ul ul ul a {
		border-left:24px solid transparent;
	}
	.sm-clean ul ul ul ul a {
		border-left:32px solid transparent;
	}
	.sm-clean ul ul ul ul ul a {
		border-left:40px solid transparent;
	}


/* Sub menu indicators
===================*/

	.sm-clean a span.sub-arrow,
	.sm-clean ul a span.sub-arrow {
		top:50%;
		margin-top:-9px;
		right:auto;
		left:6px;
		margin-left:0;
		width:17px;
		height:17px;
		font:normal 16px/16px monospace !important;
		text-align:center;
		border:0; color:#000;
		text-shadow:none;
		background:#ccc;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
	}
	/* Hide sub indicator when item is expanded - we enable the item link when it's expanded */
	.sm-clean a.highlighted span.sub-arrow {
		/*display:none !important;*/
	}
    .sm-clean a.highlighted span.sub-arrow:before {
		display: block;
		content: '-';
	}
   
/* Items separators
===================*/

	.sm-clean li {
		border-top:1px solid rgba(0,0,0,0.05); 
	}
	.sm-clean li a{
	}
	.sm-clean > li:first-child {
		border-top:0;
	}

}